body{
    margin: 0;
    padding: 0 ;
	background-color: rgb(255, 139, 158);
}
h1, p{
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	font-style: normal;
}
img{
	width: 300px;
	margin: 10px;
}
img:hover{
	width: 350px;
}
nav{
	text-align: center;
	padding-top: 15px;
}
a{
	text-decoration: none;
}
header{
	background-color: white;
    box-sizing: border-box;
	border-radius: 45px;
	height: 50px;
	margin: 5px;
}
footer{
	background-color: black;
	border-radius: 45px;
	margin-left: 5px;
	margin-right: 5px;
}


/*these are classes*/
.footer{
	margin-top: auto;
}
.c1{
	float: left;
	display: inline-block;
	padding-left: 5%;
	color: white;
}
.c2{
	display: inline-block;
	padding-left: 30%;
	color: white;
}
.c3{
	float: right;
	display: inline-block;
	padding-right: 5%;
	color: white;
}
.wraper{
	height: 590px;
	border: 10px dotted red;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}